/* Common */

body
{
    /*background-color: #25caf7; */
    padding-top: 0px; 
    font-family: 'Oxygen', 'Helvetica', 'Arial';
}
.home-side-menu2 {
	list-style: none;
}
body.fixed-navbar {
    padding-top: 70px;
}

@media (min-width: 1360px) {
    .navbar .container {
        width: 1350px;
    }
    .container {
        width: 1350px;
    }    
}
nav .navbar-toggle {
  border-color: transparent; /* Removes border color */
  background-color: #f7f7f9;
}
nav .navbar-toggle .icon-bar {
  background-color: #777; /* Changes regular toggle color */
}
nav .navbar-toggle .icon-bar:hover {
  background-color: #fff; /* Changes toggle color on hover */
}

.align-right {
    text-align: right;
}
.red-text {
    color: #E56535;
}
.margin-top {
    margin-top: 1em;
}

.margin-left {
  margin-left: 1em;
}
.margin-right {
  margin-right: 1em;
}
.margin-left-3x {
  margin-left: 3.5em;
}
.margin-address {
  margin-left: 1em;
}
.margin-top-2x {
    margin-top: 2em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.margin-bottom-2x {
    margin-bottom: 2em;
}

.margin-bottom-sm {
    margin-bottom: 0.5em;
}


.padding-top {
    padding-top: 1em;
}

.padding-2x {
    padding: 2em;
}

.padding-left {
    padding-left: 2em;    
}

.padding-bottom {
    padding-bottom: 6px;    
}

.border-bottom {
    border-bottom: 1px solid #acc;
}

.text-larger {
    font-size: 1.3em;
}

.text-small {
    font-size: 0.9em;
}

.text-smaller {
    font-size: 0.8em;
}

.img-text-height {
    height: 1.2em;
}

.material-icons.md-3x { font-size: 3em; }

.para-text {
    font-family: Helvetica;
    font-size: 1.8rem;
    color: black;
}

.features
{
    /*font-family: Helvetica;*/
    text-align: center;
     /*margin-bottom: 3em;*/
    /*margin-top: 3em;*/
    padding-top: 2em;
    padding-bottom: 1em;
    border:1px solid #acacac;
    margin-right: 0.3em;
}

.features .icon
{
    color: #4d4d4d;
}

.features .caption
{
    text-transform: uppercase;
    margin-top: 2em;
    font-size: 1.2em;
    color: #004B91;
    font-weight: bold;
}   

.features .summary
{
    font-family: Helvetica;
    font-size: 1.2em;
    margin-top: 2em;
}

.form-group .control-optional {
  font-weight: normal;
}

/* Home Page */

.front-cover
{
    /*background-image: url("/img/coverpic.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
    margin: 0px;
    width: 100%;
}

.logo-bar {
    margin-top: 4em;
}

.logo-bar h1, .logo-bar .site-name
{
    /*font-family: 'Lato', 'Helvetica', 'Arial';*/
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 3.2em;
    color: #28384B;
}
.header-container .site-name:hover{
  text-decoration: none;
}
.logo-bar div.site-name {
    margin-top: 20px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.site-logo {
    height: 48px;
    margin-left: auto;
}

.release-tag {
    vertical-align: super;
    font-size: 0.3em;
    font-style: italic;
    font-family: 'Helvetica';
}

.logo-bar-col {
    text-align: center;
}

.site-tagline {
    font-size: 1.6em;
    text-align: center;
}

.search-bar
{
    min-height: 15em;
    /*display: flex;
    align-items: center;*/
    margin-bottom: 6em;
}

.search-box {
    margin-top: 3em;
}

.search-desc {
    margin-top: 0.2em;
}

.front-section
{
    background-color: #f5f5f5;
    margin-bottom: 2em;
    border-radius: 8px;
}

.brand-section {
    padding-bottom: 12px;    
}

.brand-section .btn
{
    /*margin-left: 16px;*/
    float: right;
}

.brand-logo-wrapper
{
    margin-top: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
}

.brand-logo-wrapper img
{
    height: 32px;
    margin: auto;
}


.about-section {

}

.how-it-steps 
{
    font-size: 2em;
    /*color: green;*/
}

.how-it-icons
{
    margin-bottom: 1em;    
}

.how-it-icons img{
    height: 128px;
    padding: 24px;
    background: #777;
    /*background: #28384B;*/
    border-radius: 8px;
    color: white;
    -webkit-filter: invert(100%); filter: invert(100%);
}

.how-it-captions
{
    font-size: 2em;
    /*color: green;*/
    margin-bottom: 1em;
}


/* Carousel */

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.img-wrapper {
    padding: 10px;
    min-height: 180px;
    display: flex;
    align-items: center;
}

.carousel .img-wrapper {
    border: 3px solid #ccc;
}

.img-wrapper img {
    margin-left: auto;
    margin-right: auto;
}

.img-label {
    text-align: center;
    padding: 4px;
    font-size: 1.2em;
}

/* Master Template */

.hist_back_button {
    display: none;
}

.small-search-bar {
    min-height: 6em;
    display: flex;
    align-items: center;
    /*margin-bottom: 3em;*/
}

.small-search-bar h1 {
    font-family: 'Oxygen', 'Helvetica', 'Arial';
    color: #28384B;
    /*margin-bottom: 1em;*/
}

.small-header h1 {
    font-family: 'Oxygen', 'Helvetica', 'Arial';
    color: #28384B;
}

.small-search-bar .site-name, 
.small-header .site-name {
    font-family: 'Oxygen', 'Helvetica', 'Arial';
    color: #28384B;
    font-size: 2.6em;
}


.masthead h1 a, .small-search-bar h1 a {
    text-decoration: none;
    color: #28384B;
}

.masthead .site-name a, .small-search-bar .site-name a {
    text-decoration: none;
    color: #28384B;
}

/* Master Layout 2 */

.header-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-container .site-name {
    font-family: 'Oxygen', 'Helvetica', 'Arial';
    /* Original Color: #28384B */
    color: #243243;
    font-size: 1.8em;
}

.header-container .site-name a {
    text-decoration: none;
    color: #243243;
}

.chat-icon, .chat-icon:hover, .chat-icon:visited, .chat-icon:active, .chat-icon:link, .chat-icon:focus 
{
    text-decoration: none;
}

.contact-links {
  display: inline-block;
  vertical-align: middle;  
}

.contact-links a {
  text-decoration: none;
  color: black;
}

.contact-links .contact-phone-link {
  font-size: 14px;
}

.contact-links .contact-email-link {
  font-size: 12px;
}

.top-search-bar {
    background-color: #008bd2;
    border-color: #008bd2;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.master-v2 .breadcrumb {
    background-color: rgba(255,255,255,0);
    font-size: 0.8em;
    padding-left: 0px;
}

.master-v2 .alert-text {
    color: #CC1111;
    font-family: Arial;
}

/* Shop Button Group */

.btn-shop {
    background-color: #3F5C7F;
    border-color: #3F5C7F;
    color: #fff;
}

.btn-shop:hover {
    background-color: #4B76A9;
    border-color: #4B76A9;
    color: #fff;
}

.btn-group-shop:hover .btn-shop {
    background-color: #4B76A9;
    border-color: #4B76A9;
    color: #fff;
}

.text-separator {
    color: #999;
    margin-bottom: 4px;
}


/* Help Button Group */

.btn-group-warning:hover .btn-warning {
    background-color: #ec971f;
    border-color: #ec971f;
    color: #fff;
}

.btn-help {
    background-color: #5EB8DB;
    border-color: #5EB8DB;
    color: #fff;
}

.btn-help:hover {
    background-color: #70C4E5;
    border-color: #70C4E5;
    color: #fff;
}

.btn-group-help:hover .btn-help {
    background-color: #70C4E5;
    border-color: #70C4E5;
    color: #fff;
}


/* Cart Button */

.btn-cart {
    
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.23),inset 1px 1px 0 0 hsla(0,0%,100%,.2);*/
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: white;

}

.btn-cart.btn-cart-empty {
    background-color: rgba(255, 255, 255, 0);
}

.master-v2 h1 {
    font-size: 2rem;
    margin-bottom: 6px;
    margin-top: 0px;
}

.cart-page h2 {
    margin-top: 10px;
    font-size: 1.6em;
    font-weight: bold;
}

.master-v2 .main-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    /*cursor: zoom-in;*/
}

.action-cart {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;

}

.message-row {
    font-family: Arial;
}

.message-status {
    color: green;
}

.message-error {
    color: #CC1111;
}

/* Part Page */

.part-container .title-mpn {
    margin-bottom: 0px;
}

.part-container .title-brand {
}

.part-container .title-description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.4rem;
}

.part-container hr {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}

.starrr {
    font-size: 18px;
}

.stock-text {
    font-size: 1.2em;
    color: green;
}

.limited-stock-text {
    font-size: 1.2em;
    color: orange;
}

.green-text {
    color: green;
}

.price-text {
    font-size: 1.2em;
    color: #E56535;
}

.stock-color {
    color: green;
}

.price-color {
    color: #E56535;
}

.limited-stock-color {
    color: orange;
}


.reading-text {
    font-family: Arial;
}

.price-tier {
    font-family: Arial;
}

.price-tier, .price-tier:hover, .price-tier:visited, .price-tier:active, .price-tier:link, .price-tier:focus {
    text-decoration: none;
    color: black;
}

.add-note-row {
    display: none;
}

/* New Cart Layout */

.cart-heading {
    margin-top: 24px;
    margin-bottom: 6px;
    border-bottom: solid 1px #ccc;
    font-size: 0.8em;
    color: #555;
}

.cart-item-row {
    margin-top: 24px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

.cart-item-row:first-child {
    margin-top: 24px;
}

.cart-subtotal-row {
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;
}

.cart-subtotal-row .price-text {
    font-size: 18px;
}

.cart-subtotal-row > div {
    padding: 8px;
}

.cart-sub-row {
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
}

.cart-sub-row .price-text {
    font-size: 18px;
}

.cart-sub-row > div {
    padding: 8px;
}

.cart-checkout-row {
    margin-top: 24px;
    margin-bottom: 24px;
}

.checkout-signin {
  margin-top: 60px;
  margin-bottom: 40px;
}

.checkout-signin .signin-tabs {
    margin-right: 120px;
}

.checkout-signin .tab-pane {
  height: 300px;
}


/* Search Listing */

.part-row {
    border-bottom: 2px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.listing-header {
    font-size: 1.1em;
    font-weight: bold;
    border-top: 1px solid #acc;
    border-bottom: 1px solid #acc;
    padding: 0.3em;
    /*margin-bottom: 1em;*/
    margin-top: 1em;
    /*padding-bottom: 1em;*/
}

.listing-row {
    font-size: 1.1em;
    border-bottom: 1px solid #acc;
    padding: 0.3em;
    /*padding-bottom: 1em;*/
}

img.part-no-img {
    height: 64px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}


/* Part Detail */

.heading-row {
    border-bottom: 1px solid #777;
    margin-bottom: 1rem;
    padding-bottom: 1rem;    
}

#part-main-info {
    padding: 1em 2em;
    line-height: 1.8;
    font-size: 1.1em;
}

#part-main-image {
    border: 5px solid #ddd;
}

.offer-section .row {
    margin-left: 0px;
    margin-right: 0px;
}

.offer-row {
    border-bottom: 2px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;    
}

.offer-price {
    font-size: 1.2em;
}

.country-flag {
    width: 36px;
}

#chart_area {
    height: 400px;
}

.btn-group-rfq .btn {
    background-color: #d0d8e2;
}

.btn-rfq {
    background-color: #d0d8e2;
}


/* Cart */



.cart-btn-row {
    margin-top: 2em;
    margin-bottom: 2em;
}

img.cart-no-img {
    height: 32px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    
}

/* Checkout */

.col-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 1rem;
}
.address-container {
    padding: 1rem;
    
}
/* Contact Page */

.col-contact-sidebar
{
    padding-top: 3rem;
}

.col-contact-sidebar-inner
{
    border-left: 1px solid black;
    padding: 2rem;    
}


/* Page */

.template-page h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.template-page .sub-heading {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.template-page .page-text {
    font-family: Helvetica;
    font-size: 1.8rem;

}

.template-page .para-text {
    font-family: Helvetica;
    font-size: 1.8rem;
    color: black;
}

.selling-section {
    padding: 2rem;
}

.selling-section h3 {
    margin-top: 0;
}

.selling-section .selling-row {
    margin-bottom: 5rem;
}

.selling-page .features
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.selling-page .features .caption,
.selling-page .features .summary
{
    margin-top: 1em;
}


/* Footer */

.main-footer {
  position: relative;
  background: #f5f5f5;
  /*background: #419DDC;*/
  /*border-top: 2px solid #486d97;*/
  /*color: #fff;*/
  color: black;
}
.main-footer .widget-title-sm {
  margin-bottom: 20px;
}
.main-footer > .container {
  position: relative;
}
.main-footer-img {
  position: absolute;
  bottom: 0;
  right: -150px;
  display: block;
  width: 440px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
}
@media (max-width:992px) {
  .main-footer-img {
    position: relative;
    width: 80%;
    left: 10%;
  }
}
.main-footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 5px;
}
.main-footer-social-list > li {
  float: left;
  margin-right: 10px;
}
.main-footer-social-list > li .fa {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.main-footer-social-list > li .fa.fa-facebook {
  background: #46629e;
}
.main-footer-social-list > li .fa.fa-twitter {
  background: #55acee;
}
.main-footer-social-list > li .fa.fa-linkedin {
  background: #457399;
}
.main-footer-social-list > li .fa.fa-google-plus {
  background: #dd4b39;
}
.main-footer-social-list > li .fa:hover {
  text-decoration: none;
}
.main-footer-tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main-footer-tag-list > li {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
.main-footer-tag-list > li > a {
  font-size: 12px;
  display: block;
  padding: 2px 5px;
  padding-right: 16px;
  background: #d9d9d9;
  color: #000;
  -webkit-border-radius: 5px 20px 20px 5px;
  border-radius: 5px 20px 20px 5px;
  position: relative;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.main-footer-tag-list > li > a:hover {
  text-decoration: none;
  background: #fff;
}
.main-footer-tag-list > li > a:after {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  top: 8px;
  right: 5px;
}
.main-footer-links-list,
.main-footer-links-list-lg {
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 0;
}
.main-footer-links-list > li,
.main-footer-links-list-lg > li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
}
.main-footer-links-list > li > a,
.main-footer-links-list-lg > li > a {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  /*color: #fff;*/
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.main-footer-links-list > li > a:hover,
.main-footer-links-list-lg > li > a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.main-footer-links-list-lg > li {
  font-size: 15px;
  margin-right: 15px;
}

.copyright-area {
  /*background: #777;*/
  color: #fff;
  /*-webkit-box-shadow: 0 0 3px #000;*/
  /*box-shadow: 0 0 3px #000;*/
  position: relative;
}
.copyright-text {
  font-size: 11px;
  float:right;
  color: #000;
  margin-top: 15px;
}
.copyright-text a {
  color: #fff;
}
.copyright-text a:hover {
  color: #fff;
}
.payment-icons-list {
  list-style: none;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 10px 0;
}
.payment-icons-list > li {
  float: left;
  margin-left: 10px;
}
.payment-icons-list > li img {
  width: 35px;
}
@media (max-width:992px) {
  .payment-icons-list {
    float: none;
  }
}
/* End of Footer */


/* Lists */

.ticklist {
    font-family: Helvetica;
    font-size: 1.8rem;
    list-style: none;
    padding: 0;
}

/*.ticklist li {
    line-height: 4rem;
}

.ticklist li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
    content: "\e013";
}
*/

.ticklist li {
    list-style-type: circle;
    padding-bottom: 3rem;
}
/* End of Lists */

.circle {
    background: white;
    border-radius: 100px;
    color: white;
    height: 100px;
    font-weight: bold;
    width: 100px;
    display: flex;
    align-items: center;
    margin: auto;
}

.circle > div
{
    width: 100px;
    text-align: center;
}

.divider-outer
{
    padding: 8px;
}

.divider-inner
{
    padding-left: 8px;
    border-left: 1px solid;
    padding-left: 36px;
}


/* Full screen datasheet modal*/
#datasheet_modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#datasheet_dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
/* End of Full screen datasheet modal*/
/*cart*/
.cart-search-box{
   margin-top: 2em;
}
.cart-margin{
  margin-left: 2em;
  margin-right: 2em;
  margin-top:0.3em;
  margin-bottom:0.3em;
}

.cart-panel-row {
  background-color: #42a5f5;
  margin-bottom:1em;
}

.cart-text{
  color: white;
  margin-top:0.3em;
  margin-bottom:0.3em;
  font-size: 17px; 
  font-family: 'Oxygen', 'Helvetica', 'Arial';
  
}

.cart-panel-border{
  border-style: solid;
  border-color: #42a5f5;
  border-width: 1px;
}

.cart-align{
    margin-left: 11em;
}
.cart-button{
  margin-left: 69em;
  margin-top:1.1em;
  margin-bottom:0em;
  color: white;
  font-size:10px; 
  font-family: 'Oxygen', 'Helvetica', 'Arial';
}
.cart-summary{
   font-size:20px;
   padding-top: 1em; 
}
.cart-checkout{
  margin-left: 2em;
  
}

.razorpay-payment-button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.glyph-icon{
  font-size: 1.5em;
  color: red;
}
.sub-total-row {
    background-color: #f5f5f5;
}
.order-total{
    padding-bottom: 2em;
    font-size: 17px;
}
.text-right{
  text-align: right;
}
.iso_icon{
height: 40px;
margin-left: 10px;
}
.table_padding{
  padding-bottom: 2em;
  padding-top: 2em;
  padding-right: 2em;
  padding-left:2em;

}
.heading-row{
  background-color: #104E8B;
  color: white;
  margin-top:0.3em;
  margin-bottom:0.3em;
  font-size: 20px; 
  font-family: 'Oxygen', 'Helvetica', 'Arial';
}
.manufacturer-icons{

    border: 2px solid;
    padding: 20px; 
    border-radius: 1px;
    border-color: #d7d7d7;
}
.small-icons{
    /*height: 120px;*/
    height: 30px;
    width: 50px;
    border: 1px solid;
    padding:2px; 
    border-radius: 1px;
    border-color: #d7d7d7;
}
.total-parts{
  font-size: 17px;
  color: #a8a8a8;
}
.search-items{
    background: #d7d7d7;
    padding: 4px; 
    width: 100px;
    height: 20px; 
}
.client_name{
    color: #104E8B;
    font-weight: bold;
    font-size: 30px; 
    font-family: 'Oxygen', 'Helvetica', 'Arial';
    margin-left: 0.5em;
}
.buyer_list{
  background-color:#ccffcc;
  /*color: white;*/
 
  font-size: 22px; 
  font-family: 'Oxygen', 'Helvetica', 'Arial';
 
}
.highlight{
  background: #e0e0e0;

 }
 #bottomdiv{
  overflow: hidden;

 }
td{
  padding-bottom: 2px;
  padding-left: 4px; 
  padding-top:2px;
  padding-right:4px;
}
.client-info{
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}
#topdiv{
  height: 1000px;
  
}

.client-row {
    font-size: 1.1em;
    border-bottom: 1px solid #acc;
    padding: 0.3em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    /*padding-bottom: 1em;*/
}
.address-panel > .panel-heading  {
  background-color: rgb(0,0,103);
  color: white;
  border-color: rgb(0,0,103);
  border-radius: 0 !important;
}
.panel-default-border{
  border-color: rgb(0,0,103);
  border-radius: 0 !important;
}
.user-address{
  margin-left: 8em;
}
.payment-summary{
  margin-top: 3.5em;
}
.offer-margin{
  margin-top: 5.8em;
}
.price-border{
  border-color: #a8a8a8;
}


table.offer-prices tr {
    border-bottom: solid 1px #ccc
}

table.offer-prices th, table.offer-prices td {
    padding-top: 6px;
}

table.offer-prices td {
    font-style: italic;
    font-size: 0.9em;
}
.vertical_line {
  border-left: dotted #d3d3d3;
}
.margin-top-half{
  margin-top: 0.5em;
}
.vertical-line {
  border-right: dotted #d3d3d3;
 
}
input[type="checkbox"]{
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
}
.progress{
  height: 2px;
}
.cart-btn-line {
    background-color: #008bd2;
    border-color: #008bd2;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}
.address-delete-icon{

  font-size: 15px;
  color: #a8a8a8;

}
.circle-icon{
  background-color:  #3f5c7f;
  color: white;
}
.order-mar {
  margin-right: 0.0em;
  border-bottom: 1px solid  #f5f5f5;
  border-right: 1px solid  #f5f5f5;
  border-left: 1px solid  #f5f5f5;
  background-color: #f5f5f5;
  margin-left: -0.99em;
 }
#plain-container {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
  margin-left: 1em;
}

.text-double{
  font-size: 20px;
}
.title-text{
  color: #656565;
  text-decoration: none;

}
ul{
  list-style-type: none;
}
 ul> li > a:hover{
 color: #E56535;
 text-decoration: none;
}
.ul-border{
  border-bottom: 1px solid #ccc;
}
.count {
   float: right;
    background: #60bf79;
    color: #fff;
    border-radius: 10px;
    padding: 3px 12px;
    margin-top: 2px;
    font-size: 12px;
}
.outerOrderDetails {
   
    border: 1px solid #e3e3e3;
    margin-top: 18px;
    box-shadow: 0 0 4px #d3cbb8;
}
.box-header {
    background-color: #f9f9f9;
    border-bottom: solid 1px #e6e6e6;
    padding: 12px 15px;
}
.order-item {
    margin: 0 15px;
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
}
.item-total {
    margin: 10px 15px;
}
.unit{
   float: left;
}
.size-block-1{
    width: 12.5%;
}
.size-block-2{
    width:28.5714%;;
}
.size-block-3{
    width: 16.6667%
}
.size-block-4{
   width: 18%;
}
.size-block-5{
   width: 40%;
}
.size-block-6{
   width: 25%;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.line{
  overflow: hidden;
}
.small-text{
    color: #848484;
    font-size: 11px;

}
.button-bar {
    text-align: center;
    display: inline-block;
    zoom: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #f9f9f9;
    border: 1px solid #c9c9c9;
    background: -moz-linear-gradient(top,#f9f9f9 1%,#fff 3%,#f9f9f9 7%,#f2f2f2 100%);
    background: -webkit-linear-gradient(top,#f9f9f9 1%,#fff 3%,#f9f9f9 7%,#f2f2f2 100%);
    background: -o-linear-gradient(top,#f9f9f9 1%,#fff 3%,#f9f9f9 7%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,#f9f9f9 1%,#fff 3%,#f9f9f9 7%,#f2f2f2 100%);
    background: linear-gradient(to bottom,#f9f9f9 1%,#fff 3%,#f9f9f9 7%,#f2f2f2 100%);
}
.button-bar a {
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    padding: 6px 0;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
.button-bar .track i {
    background-position: 0 -11px;
    color: #2874f0;
}
.clearfix h1{
  font-size: 22px;
}
.clearfix{
  display: block;
  margin-left: 2.7em;
}

.col-track-order:not(.pad-no) {
    padding: 20px 30px 20px 40px;
    background-color: white;
}

.OrderDetails {
    /*width: 890px;*/
    border: 1px solid #e3e3e3;
    margin-top: 18px;
    box-shadow: 0 0 4px #d3cbb8;
}
.OrderDetails .left-message {
    padding-left: 0;
    margin-bottom: 10px;
    padding: 0 30px 0 20px;
    border-right: 1px dotted #d3cbb8;
}

.OrderDetails  .summary-inner {
    color: #565656;
    line-height: 17px;
}
.OrderDetails  .summary-inner .line {
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #f2f2f2;
}
.OrderDetails .order-info label {
    color: #848484;
    font-size: 13px;
}
.fk-inline-block{
    display: inline-block;
    zoom: 1;
}
.size-block-7{
    width: 25%;
}
.fk-font-17 {
    font-size: 17px;
}
.fk-font-bold{
    font-weight: bold;
}
.fk-font-11 {
    font-size: 11px;
}
.fk-fontlight{
    color: #848484;
}
.size-block-8 {
    width: 50%;
}
.OrderDetails .right-message {
    padding: 0 20px;
}
.last-unit {
    float: none;
    _position: relative;
    _left: -3px;
    _margin-right: -3px;
    width: auto;
}

.fk-font-21 {
    font-size: 21px;
}
.track-table {
    margin-top: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0 4px #d3cbb8;
}
.order-item-row-0 {
    border-bottom: 0;
    font-size: 13px;
    color: #848484;
    line-height: 17px;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
   
}


.table-head .prod{
    width: 37%;
}
.table-head .heads {
    padding: 10px 0;
    float: left;
}
.table-head .heads .text {
    display: inline-block;
    padding: 0 10px;
}
.vtop{
  padding-top: 18px;
}
.item-img-div {
    width: 100px;
}
.order-item-row-1 {
  
    border: 1px solid #e6e6e6;
    padding-bottom: 2em;
   
}
.text-left-mar{
  margin-left: 7.6em;
}



.bar-wrap {
    position: relative;
}
.progress-marker-1 {
   
    position: absolute;
    background:#009900;
    bottom: -5px;
    width: 25px;
    height: 28px;
    border: 4px solid #e3e3e3;
    border-radius: 50px;

}
.progress-marker-2 {
   
    position: absolute;
    background:#e3e3e3;
    bottom: -5px;
    width: 25px;
    height: 28px;
    border: 2px solid #848484;
    border-radius: 50px;

}
.progress-marker-3 {
   
    position: absolute;
    background: #e3e3e3 ;
    bottom: -5px;
    width: 25px;
    height: 28px;
    border: 2px solid #009900;
    border-radius: 50px;

}
.time-axis {
    display: block;
    float: left;
    width: 120%;
    /*margin: 0px 0 10px 0;*/
}
.time-spot-1 {
    display: block;
    float: left;
    width: 25%;
}
.time-spot-2 {
    display: block;
    float: left;
    width: 40%;
}

.time-spot-end {
    display: block;
    float: left;
    width: 12%;
}
.progress-bar-track {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #009900;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.margin-right-double{
  margin-right: 2em;
}
.order-item-row-2 {
    border-top:1px solid #e6e6e6;
    font-size: 17px;
    line-height: 17px;
    margin-top: 2em;
    margin-left: 2em;
}
.padding-all{
  padding: 1em;
}
.progress-marker:hover{
   
    position: absolute;
    background: #197319;
    width: 30px;
    height: 30px;
    border: 3px solid #e3e3e3;
    border-radius: 50px;
}
.tooltip-inner {
  background-color: white;
  color:  #61c26e;
  padding: 1em;
  border: 1px solid #e3e3e3;
}
.padding-track-top{
  padding-top: 3em;
}
.track-bar-margin{
  margin-left: 0.5em;
}
.progress-height {
    height: 15px;
}
.current-marker{
    width: 2px;
    height: 28px;
    position: absolute;
    background: black;
    bottom: -5px;
}

.track-item-details{
    border: 1px solid #e3e3e3;
    margin-top: 18px;
    box-shadow: 0 0 4px #d3cbb8;
}
.track:hover{
  text-decoration: none;
}
.button-bar-download {
    text-align: center;
    display: inline-block;
    zoom: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #60bf79;
    border: 1px solid #60bf79;
    background: -moz-linear-gradient(top,#60bf79 1%,#fff 3%,#60bf79 7%,#60bf79 100%);
    background: -webkit-linear-gradient(top,#60bf79 1%,#fff 3%,#60bf79 7%,#60bf79 100%);
    background: -o-linear-gradient(top,#60bf79 1%,#fff 3%,#60bf79 7%,#60bf79 100%);
    background: -ms-linear-gradient(top,#60bf79 1%,#fff 3%,#60bf79 7%,#60bf79 100%);
    background: linear-gradient(to bottom,#60bf79 1%,#fff 3%,#60bf79 7%,#60bf79 100%);
}
.button-bar-download a {
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    padding: 6px 0;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.button-bar-download .track i {
    background-position: 0 -11px;
    color: white;
}
.slider {
    width: 664px !important;
    max-height: 300px;
    overflow: hidden;
    margin-left: 40px;
}

 div.bx-viewport>ul>li {
    list-style-type: none;
    border: 1px solid #D3D3D3;
    padding: 10px 20px 35px;
    overflow: hidden;
    position: relative;
    min-height: 250px;
    margin-right: 20px;
    margin-top: 40px;
}
div.bx-viewport>ul>li div.location.default {
    background: center right no-repeat #60bf79;
    color: #fff;
    padding: 1px 0;
    margin-left: -20px;
    text-indent: 10px;
    width: 93%;
}
div.bx-viewport>ul>li div.location.default span.defaultMention {
    text-indent: 0;
    margin-left: 1px;
}

div.bx-viewport>ul>li h3 {
    font-size: 16px;
    font-family: font-regular;
    padding: 9px 0px 12px;
    font-weight: normal;
    text-transform: capitalize;
}
div.bx-viewport>ul>li div.address{
    color: #9e9e9e;
    font-size: 13px;
    line-height: 18px;
}

div.bx-viewport>ul>li div.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.delete-address {
    list-style-type: none;
    display: inline-block;
    padding: 6px 0px;
    color: #b3b3b3;
    width: 45%;
    box-sizing: border-box;
    padding-left: 1.1em;
}
.edit-address {
    list-style-type: none;
    display: inline-block;
    padding: 6px 0px;
    color: #b3b3b3;
    width: 45%;
    box-sizing: border-box;
    padding-left: 4.2em;
}
div.bx-viewport>ul>li div.controls>ul>li>a {
    color: #b3b3b3;
}
a {
    color: #004B91;
    text-decoration: none;
    outline: none;
}
.edit-address:hover {
    color: #888;
    text-decoration: none;
}
.delete-address:hover {
    color: #888;
    text-decoration: none;
}
div.bx-viewport>ul>li:hover {
    
    border: 1px solid black;
  
}
div.updgradeNow {
    height: 43px;
    line-height: 45px;
    margin-top: 50px;
    width: 170px;
}
.newaddbutton {
    width: 200px!important;
    margin-top: 10px;
    margin-left: 150px;
}
.rippleWhite, .rippleGrey {
    overflow: hidden;
    position: relative;
}
.btn-xl {
    height: 53px;
    line-height: 53px;
    font-family: "font-bold";
    font-size: 18px;
}
.add-address-btn {
    border-radius: 3px;
    display: inline-block;
    height: 35px;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    background-color: #60bf79;
}
.label-text{
  color: #656565;
  
}
.square-corner{
  border-radius: 0px;
}
.add-address-btn:hover{
  text-decoration: none;
  color:white;
}
.colleague{
  padding: 10px;
}
.term{
  font-size: 1.5em;
}
.border-dotted-bottom{
  border-bottom: 1px dotted #888;
  color: #888;
}
.border-dotted-top{
  border-top: 1px dotted #888;
  color: #60bf79;
}
.set-address{
  color: #60bf79;
}
.set-address:hover{
   color: #009900;
   text-decoration: none;
   
}
.client-block {
    width: 100%;
    border: 1px solid #e3e3e3;
    margin-top: 18px;
    box-shadow: 0 0 4px #d3cbb8;

}
.client-name{
  color: #337ab7;
}
.client-name:hover{
  color: #E56535;
  text-decoration: none;
}
.decoration-none:hover{
  text-decoration: none;
}

/* Bootsnip - Checked List Group */
/* http://bootsnipp.com/snippets/featured/checked-list-group */

.state-icon {
    left: -5px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* End of Bootsnip - Checked List Group */

/* side menubar */



.treebox {
    font-size: 14px;
    float: left;
    width: 180px;
    min-height: 250px;
    border: none;
    text-align: left;
}

/* Set the menu as hidden */
.menu-div{
  width: 20%;
}       
.dock-title{
  font-size: 17px;
  text-decoration: bold;
  color: #3F5C7F;
  background-color: #f5f5f5;
  padding-left: 1.5em;
  padding-top: 0.6em;
  padding-right: 0.6em;
  padding-bottom: 0.6em;
  border-top:2px solid #008bd2;
  list-style:none;
  margin-left: 0;

}
.dock-title-1{
  font-size: 20px;
  text-decoration: bold;
  color: #3F5C7F;
  background-color: #f5f5f5;
  padding-left: 1.5em;
  padding-top: 0.6em;
  padding-right: 0.6em;
  padding-bottom: 0.6em;
  margin-left: 0;

}
.side-bar ul {
    float: left;
    padding: 0px;
    margin: 5px;
}
.side-bar ul ul {
    display: none;
    border:1px solid #f5f5f5;
    width: 100%; 
    background-color: red;
    z-index: 1;
}
.side-bar ul li ul li{
     margin: 0px;
}
.side-bar li {
   
}
.side-bar li:hover {
  
}
.side-bar ul li {
    position: relative;
    padding: 4px;
    margin-left: 12px;
}

.side-bar ul li:hover {
    background-color: #BEDFF6; 
    color: #3F5C7F;
    text-decoration: none;
}
.side-bar ul li a:hover {
    color: #3F5C7F;
    text-decoration: none;
}
.side-bar ul li a {
    color: black;
    text-decoration: none;
}
.side-bar ul li:hover > ul {
    position: absolute;
    display: block;
    top: 0;
    left: 85%;
    background: white;

}
.caret-size{
  font-size: 1.3em;

}
/*End of side menu bar */
.border-all{
     border:1px solid #acacac;
}
.home-margin{
  margin-right: 0em;
}
.feature-margin{
  margin-left: 0.2em;
}
.margin-top-3x{
  margin-top: 3em;
}
.cart-button{
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23),inset 1px 1px 0 0 hsla(0,0%,100%,.2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    margin-top: 5px;
    width: 120px;
    display: inline-block;
    }
.gear-box{
  color: white;
}
.gear-box:hover{
  color: white;
  text-decoration: none;
  
}
/*Zoom modal*/

/* The Modal (background) */
#zoom-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left:1%;
    top: 45%;
    width: 30%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: white; /* Black w/ opacity */
    border: 1px solid #ddd;
}

/* Modal Content (image) */
.content {
    margin: auto;
    display: block;
    width: 65%;
    max-width: 500px;
    z-index: 1;
    cursor: zoom-in;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: black;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 500px){
    .content {
        width: 100%;
    }
}

.cart-btn {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23),inset 1px 1px 0 0 hsla(0,0%,100%,.2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: black;

}

.spec-dropdown, .spec-dropdown-active {
    width: 160px;
}

.spec-dropdown-active {
    background-color: #dbf0fd;
}

#heading-buy {
  color: red;
}
.alter-image{
  width: 40%;
  height: 30%;
}
.product-mpn{
  font-size: 14px;
  color: #444;
  font-weight: bold;
}
.grey-color{
  color: #777;

}
/*Coupon*/
.coupon {
    border: 3px dashed #bcbcbc;
    border-radius: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.coupon #head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 56px;
}

.coupon #footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#title .visible-xs {
    font-size: 12px;
}

.coupon #title{
   
    height: 30px;
    margin-top: 10px;
}

@media screen and (max-width: 500px) {
    .coupon #title img {
        height: 15px;
    }
}

.coupon #title span {
   
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.coupon-img {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.items {
    margin: 15px 0;
}

.usd, .cents {
    font-size: 20px;
}

.number {
    font-size: 35px;
    font-weight: 700;
}
.coupon-title {
    font-size: 40px;
    font-weight: 700;
}
sup {
    top: -15px;
}

#business-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#business-info ul li { 
    display: inline;
    text-align: center;
}

#business-info ul li span {
    text-decoration: none;
    padding: .2em 1em;
}

#business-info ul li span i {
    padding-right: 5px;
}

.disclosure {
    padding-top: 15px;
    font-size: 11px;
    color: #bcbcbc;
    text-align: center;
}

.coupon-code {
    color: #333333;
    font-size: 11px;
}

.exp {
    color: #f34235;
}
.sheild-title{
    font-size: 17px; 
    font-weight: bold;
    margin-left: 0.4em;
}
.sheild-text:hover{
    text-decoration: none;
}
.sheild-sub-title{
    color: black;
    margin-left: 0.3em;
}
.quantity-refresh{
    font-weight: bold;
    font-size: 14px;
    
}
.last-updated{
  font-size: 0.7em;
  margin-bottom: 7px;
}
.refresh-icon{
    background-color: #e9e9e9;
    border-radius: 50%;
    color: #41c363;
}
.refresh-text{
  font-size: 12px;
  color: #41c363;
  font-style: italic;
  }
.refresh-button:hover{
  cursor: pointer;
}
.bom-cart {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), inset 1px 1px 0 0 hsla(0,0%,100%,.2); 
    padding: 5px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: white;
    background-color: #3F5C7F;
}
.green-row {
   background: #ECFFE0;
}
.orange-row {
   background: #FFFFCC;
}
.red-row{
  background: #ffe5e5;
}
.mobile-site{
  float: right;
  font-size: 0.7em;
  color: #C0C0C0;
}

/* Manufacturer Page */

.brand-row .brand-name {
    padding-top: 8px;
    padding-bottom: 8px;
}

.brand-row .brand-image {
    padding-top: 8px;
    padding-bottom: 8px;
}


.brand-row img {
    height: 15px;
}
.featurette {
    /* color:#0188cc; */
    color: #ca7f0e;
    background-color: #f5f5f5;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:50px;
    font-size:24px;
    display:inline-block;
    padding: none;
    opacity: 0.5;
}
.featurette, .featurette:hover, .featurette:active, .featurette:visited, .featurette:focus {
    outline: none;
    border: none;

}
.btn:focus {
  outline: none;
}
.document-btn {
  background-color: white;
  color: #0188cc;
  padding: 7px 13px;
  font-size: 15px;
  cursor: pointer;
  
}
.rate-us {
  text-decoration: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  margin-left: 6px;

}
.trust-text {
  color: black;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer; 
}
.pilot-text {
  color: #A9A9A9;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer; 
}
.document-link, .document-link:hover, .document-link:active, .document-link:visited, .document-link:focus {
  text-decoration: none;
}

.document-btn:hover{
  border-color: #D3D3D3;
}
.featurette-text {
  color: #0188cc;
  opacity: 0.5;
}


/*Testimonials on part page*/
#quote-carousel .carousel-control {
    background: none;
    color: black;
    font-size: 2em;
    text-shadow: none;
    margin-top: 25px;
    margin-right: 10px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 16px;
}

blockquote .author {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}
.testimonial-box{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3em;
}
.carousel-control {
   width: 0%;
}
@media (max-width: 1024px) {
  #quote-carousel{
    max-height: 105px;
    min-height: 105px;
  }
  #quote-carousel .right {
    background: none;
    color: black;
    font-size: 2em;
    text-shadow: none;
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 0px;
  }
  .item blockquote {
    font-size: 15px;
  }
  .carousel-control {
    width: 5%;
  }
  
}

/* Bom Upload */
.bom-upload {
  font-size: 15px;
  line-height: 1.33;
  border-radius: 3px;
  padding: 0.7em;
  background: #008bd2;
  color: #ffffff;
  cursor: pointer;

}
.bom-upload > input[type="file"] {
    display: none;
}
.bom-table > tbody> tr > td{
  padding: 0.9em;
  vertical-align: middle; 
}

.container .slides-container {
      position: relative;
      padding: 10px;
      display: inline-flex;
      width: 70%;
      overflow: hidden;
      justify-content: center;
      align-self: center;
}

.container .slides-container .slide {
      width: 100%;
      min-width: 100%;
      display: block;
}

.container .slides-container .slide .card-header {
      background-color: #EEEEEE;
      border-bottom: none;
      font-size: 1rem;
      padding: .75rem 1.25rem;
      margin-bottom: 0;
      color: inherit;
}

#bom-container .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
#bom-container .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.centered {
  position: fixed;
  left: 17%;
}
.form-style-5{
  max-width:700px;
  margin: 7px auto;
  padding-bottom: 3em;
  padding-top: 2em;
  border: 1px solid #DCDCDC;
  border-radius: 8px;
}
.background-warning{
  background-color : #ffcc00;
}
.form-style-5-large{
  margin: 7px auto;
  padding-bottom: 3em;
  border-radius: 3px;
}
.bg-grey{
  background-color : #3F5C7F;
  color: white;
} 
.bom-cart:hover{
  color: #DCDCDC;
}
.bg-warning-success{
  background-color: #e5ffe5;
}


.progressbar {
  counter-reset: step;
  margin-left: 16em;

}
.progressbar li {
  list-style: none;
  display: inline-block;
  position: relative;
  justify-content: center;
  cursor: pointer;
  width: 30%;
}
.progressbar li:before {
  content: counter(step);
  font-family: FontAwesome;
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 2px solid #A8A8A8;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color .2s ease;
  z-index: 1;
  background: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #A8A8A8;
  top: 15px;
  left: -94%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #008bd2;

}
.progressbar li.active:before {
  border-color: #008bd2;
} 
.progressbar li.active + li:after {
  background-color: #008bd2;
}
.border-danger{
  border : 1px solid #cc0000;
}
.row-disabled{
   background-color: #eee;
   color: #A9A9A9;
}
.score-delete, .score-delete:hover {
    font-size: 20px;
    color: #B22222;
   
}
.td-number{
  min-width: 40px;
}
.score-delete { display: none; }
#shortage-table tr:hover .sr_number { display: none; }
#shortage-table tr:hover .score-delete { display: inline; }

.grey-img{
  filter: grayscale(100%);
}
#shortage-table tr > th, #shortage-table  tr > td{
  vertical-align: middle;
}
#shortage-table tr > .queue-row{
  height: 98px;
}
#circle-td .clearfix{
  display: block;
  margin-left: 6.9em;
}
#shortage_dialog .modal-content, #feedback_dialog .modal-content{
  border-radius: 0px;
}

.feedback-padding{
  padding-left: 7em;
}
.border-top{
  border-top:  1px solid #eee;
  padding-top: 1em;
}
.no-pad-left{
  padding-left: 0px;
}
.img-max-height{
  max-height: 5em;
}
.custom-stripe-btn{
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    color: #eee;
    background: #1275ff;
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

}
.custom-stripe-btn:hover{
  color: #eee;
}
/*featured parts carousel*/
.product {
    position: relative;

}
.product .product-image-area {
    overflow: hidden;
    position: relative;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6.99px;
}
.product .product-image-area .product-image {
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}
.product .product-image-area .product-image img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.product .product-details-area {
    padding: 10px;
    text-align: center;
}
.product-price-box {
    font-size: 0;
    margin: 5px 0 3px;
}
.product-price-box .product-price {
    font-size: 20px;
    color: #444;
}
.product-price-box .product-price a {
    font-size: 20px;
    color: #444;
}
.grey-color {
    color: #777;
}

.text-sm {
    font-size: 1.3rem !important;
}
.product .product-name {
    color: #777;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 3px;
}
.product .product-details-area .product-actions {
    margin: 10px -10px;
}
.product-actions a.addtocart {
     color: #333;
     background-color: #fff;
     font-size: 14px;
     padding: 7px 10px 7px 10px;
     height: 32px;
     line-height: 30px;
     border: 1px solid #ccc;
     border-radius: 5px;

}
.product-actions a.addtocart:hover{
  text-decoration: none;
  background-color: #0088CC;
  color: #fff;
}
.modal-backdrop {
   background-color: rgba(0,0,0,0.5);;
}