
.form-style-5{
  max-width:700px;
  padding: 10px 20px;
  margin: 7px auto;
  padding: 20px;
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
  border: none;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  display: block;
  margin-top: 15px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #F5F5F5;
  color: #686868;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-top: 20px;
}
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #BEBEBE; 
} 

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
  background: #e8eeef;
}
.form-style-5 select{
  -webkit-appearance: menulist-button;
  height:35px;
}
.form-style-5 .number {
  background: #008bd2;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
  position: relative;
  display: block;
  padding: 15px 30px 14px 30px;
  color: #FFF;
  margin: 0 auto;
  background: #008bd2;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #2471A3;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 20px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
  background: #3498DB;

}
.pad-top {
    padding-top: 0.5em;
}
.table{
  max-width:800px;
  padding: 10px 20px;
  margin: 7px auto;
  border: 1px solid #f4f7f8;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header-row{
  background-color: #008bd2;
  margin:-1px 0 0 -1px;
  height: 40px;
}
.table-heading{
  font-size: 1.5em;
}
.table>tbody>tr>td {
  border:none;
  padding: 8px 30px 8px 30px;
}
.para-heading{
  font-size: 1.2em;
}
.para-sub-heading{
  font-size: 0.9em;
}
ul{
  list-style-type: disc; 
}
.input-label{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  padding: 10px;
  width: 100%;

}
.mar-top{
  margin-top: 2em;
}
.text-sm{
  font-size: 1em;
}