body {
    margin: 0;
    font-family: "Montserrat";
  }
  

  #card-section {
    max-width: 100%;
    margin-left: 5%;
  }
  
  #card-section a {
    text-decoration: none;
  }
  
  #card-section .btn-success {
    background-color: rgb(83, 250, 27);
    border: none;
    font-size: 17px !important;
  }
  
  h5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  
  h5 .btn-color {
    background-color: #1de48a;
    border: none;
  }
  
  /* h5 .btnhigh {
    background-color: #f83808;
    border: none;
  }
  
  h5 .btnmedium {
    background: #ff631b;
    border: none;
  }
   */

  h5 button {
    font-size: 19px !important;
    font-weight: 550;
    pointer-events: none;
  }

  .main .card .card-section {
    width: 100%;
  }
  
  .main .card .card-body {
    max-width: 49%;
    float: left;
    padding: 5%;
    max-height: 100%;
  }
  
  .main .card .score {
    min-width: 48%;
    max-height: 100%;
    float: right;
    margin-top: 5%;
    margin-right: 2%;
  }
  
  .main .card .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .main .card .single-chart {
    text-align: right;
  }
  
  .main .card .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .main .card .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 1.5;
  }
  
  .main .card .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    -webkit-animation: progress 1s ease-out forwards;
            animation: progress 1s ease-out forwards;
  }
  .main .card .margin-bottom {
    margin-bottom: 3px;
  }
  .main .card:hover .score-delete { 
    display: inline; 
  }
  .padding-tr{
     padding: 7px 7px;
  }
  .main .card{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .main .card:hover{
     border: 1px solid #ccc;
  }
  .add-part{
    background-color: #337ab7; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  @-webkit-keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .main .card .circular-chart.warning .circle {
    stroke: #f0ad4e !important
  }
  
  .main .card .circular-chart.success .circle {
    stroke: #28a745 !important
  }
  
  .main .card .circular-chart.danger .circle {
    stroke: #dc3545 !important
  }
  
  .main .card .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
    color: #666;
  }
  
  .main .card .card-text button {
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    font-size: 15px;
    color: white;
  }
  .main .card span {
    font-size: 1em;
  }
  
  .main .card h4 {
    color: #767676;
    font-size: 2rem;
  }
  .main .card p {
    color: #666;
    font-size: 2rem;
  }
  .mar-left{
    margin-left: 1.6em;
    color: #777;
  }
  .main .card p button {
    pointer-events: none;
  }
  .panel-body{
    min-height: 207px;
  }
  @media (max-width: 1024px) {
    .panel-body{
      min-height: 235px;
    }
  }

  /*# sourceMappingURL=main.css.map */